.app-shell {
  text-align: center;
  background-color: #b1b1b1;
}

header {
  padding: 20px;
  font-size: 50px;
  font-weight: 700;
  font-family: sans-serif;
}

main {
  padding: 20px;
}

footer {
  margin-top: 20px;
  opacity: 0.6;
  text-align: center;
}
