<div class="app-container" [class.dark]="isDarkMode">
  <!-- Add Task Form -->
  <div class="form">
    <input [(ngModel)]="newTask.title" placeholder="Task title">

    <input 
        type="radio"
        name="category"
        value="Work"
        id="Work"
        class="btn-check"
        [(ngModel)]="newTask.category"
        autocomplete="off"
        checked>
    <label class="btn" for="Work" [class.dark]="isDarkMode">
        Work
    </label>


    <input 
        type="radio"
        name="category"
        value="Personal"
        id="Personal"
        class="btn-check"
        [(ngModel)]="newTask.category"
        autocomplete="off">
    <label class="btn" for="Personal" [class.dark]="isDarkMode">
        Personal
    </label>


        <input 
        type="radio"
        name="category"
        value="Study"
        id="Study"
        class="btn-check"
        [(ngModel)]="newTask.category"
        autocomplete="off">
    <label class="btn" for="Study" [class.dark]="isDarkMode">
        Study
    </label>

    <input type="date" [(ngModel)]="newTask.dueDate">

    <button (click)="addTask()">Add</button>
  </div>

  <!-- Filters -->
  <div class="filters">
    <button (click)="setFilter('All')">All</button>
    <button (click)="setFilter('Completed')">Completed</button>
    <button (click)="setFilter('Pending')">Pending</button>
    <button (click)="toggleTheme()">🌙</button>
  </div>

  <!-- Task Counter -->
  <div class="counter">
    Total: {{tasks.length}} |
    Completed: {{completedCount}} |
    Remaining: {{remainingCount}}
  </div>

  <!-- Post-It Grid -->
  <div class="postit-grid" 
      cdkDropList 
      cdkDropListOrientation="mixed"
      [cdkDropListData]="tasks" 
      (cdkDropListDropped)="drop($event)">
    @for (task of tasks; track task.id) {
        <div class="postit"
         cdkDrag
         [class.completed]="task.completed"
         [class.overdue]="isOverdue(task)"
         [class.hidden]="!shouldShow(task)">

        <h3>{{task.title}}</h3>
        <p>📂 {{task.category}}</p>
        @if (task.dueDate) {
          <p>📅 {{task.dueDate}}</p>
        } @else {
          <p>📅 N/A</p>
        }
        
        <div class="actions">
          <button type="button" class="btn" (click)="toggleTask(task)">✔</button>
          <button type="button" class="btn" (click)="deleteTask(task.id)">❌</button>
        </div>

      </div>
    }
  </div>
</div>